
.article-title-box {
    border-bottom: 1px solid #ccc;
    padding: 1px;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 모양으로 */
    transition: background-color 0.3s; /* 배경색 변경 시 애니메이션 효과 */
}
.article-title-box:hover {
    background-color: #f0f0f0; /* 마우스 호버 시 배경색 변경 */
}
.article-title-box:active {
    background-color: #e0e0e0; /* 클릭 시 배경색 변경 */
}
#boardButton {
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 클릭 가능한 모양으로 변경 */
    transition: background-color 0.3s; /* 배경색 변경 시 애니메이션 효과 */
}
.board-categories {
    flex: 1 1 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* 게시판 요소 너비 조정 */
}
ul {
    list-style-type: none; /* 불릿 마크 제거 */
    padding: 0;
}

.row {
    display: flex;
    margin-left: 10px;
    /* 왼쪽 여백 설정 */
    font-size: 24px;
    /* 원하는 폰트 크기 설정 */
    font-weight: bold;
}
.header-bg {
    height: 100px;
    margin: 10px auto;
}

 .titleTextarea {
     width: 70%; /* 제목 textarea 너비 */
     height: 20px; /* 제목 textarea 높이 */
     resize: none; /* 크기 조절 불가능하도록 설정 */
 }
.contentTextarea {
    width: 70%; /* 내용 textarea 너비 */
    height: 500px; /* 내용 textarea 높이 */
    resize: none; /* 크기 조절 불가능하도록 설정 */
}
.contentBox {
    height: 500px;
}
.header-link {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    /* 포인터 모양으로 변경하여 클릭 가능하게 설정 */
    padding-left: 10px;
    /* 좌측 여백 설정 */
    color: black;
    /* 글자색 설정 */
    font-size: 24px;
    /* 글자 크기 설정 */
    text-decoration: none;
    /* 링크 텍스트의 밑줄 제거 */
    background-color: lightgrey;
    border-radius: 5px;
}
.row {
    display: flex;
    margin-left: 10px;
    /* 왼쪽 여백 설정 */
    font-size: 24px;
    /* 원하는 폰트 크기 설정 */
    font-weight: bold;
}



pre {
    font-family: 'Your Font', sans-serif;
}
.comment-box {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

.comment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-edit-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.comment-edit-content textarea {
    width: calc(100% - 22px); /* 텍스트 박스를 부모 요소에 맞추되 여백을 추가 */
    height: 150%;
    border: 1px solid #ccc;;
    border-radius: 5px; /* 텍스트 박스를 둥글게 만들기 위해 border-radius 값 조정 */
}

.comment-content {
    flex: 1;
}
.comment-buttons {
    display: flex;
    gap: 10px;
}
.button-container {
    margin-top: 5px; /* 버튼 간격 설정 */
    cursor: pointer;
    border-radius: 4px;
}


.board-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 각 요소 사이의 간격 조정 */
}



